<h1>Job Application</h1>

	
<p>Please enter your email address and personal information.</p>
<% form_for(@job_application, "/job_offers/apply/#{@job_offer.id}") do |f| %>

  <%= f.label :applicant_email %>
 	<%= f.text_field :applicant_email %>

	<hr/>

  <%= f.label :first_name %>
 	<%= f.text_field :first_name %>

	<hr/>

  <%= f.label :last_name %>
 	<%= f.text_field :last_name %>

	<hr/>

  <%= f.label :presentation %>
 	<%= f.text_field :presentation %>

	<hr/>

  <%= f.label :curriculum %>
 	<%= f.text_field :curriculum %>

	<hr/>

  <%= f.submit "Apply", :class => "btn btn-primary" %>
  <%= link_to 'Cancel', url_for(:job_offers, :latest), :class => "btn btn-secondary" %>
<% end %>